web/ressources/listPathos.dtd

<!ELEMENT meridien (#PCDATA)>
<!ELEMENT meridienElem (#PCDATA)>
<!ELEMENT typePatho (#PCDATA)>
<!ELEMENT descPatho (#PCDATA)>
<!ELEMENT descSympt (#PCDATA)>
<!ELEMENT pathologie ((meridien)?, (meridienElem)?, (typePatho)?, (descPatho)?, (descSympt)?)>
<!ELEMENT listPathos (pathologie)*>
<!ATTLIST pathologie id CDATA #REQUIRED>